* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --header-color: #202660;
    --text-color: #FFD900;
    --main-color: #FCFCFC;
    --text-body: #000;
}
body {
    min-height: 100vh;
    background-color: var(--main-color);
    color: var(--text-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;
    background-color: var(--header-color);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.261);}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    margin-right: 3px;
}
.navbar {
    display: flex;
}
.navbar a {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover {
    color: var(--main-color);
}
.navbar a.active {
    color: var(--main-color);
}
#menu-icon {
    font-size: 30px;
    cursor: pointer;
    z-index: 3;
    display: none;
}
@media (max-width:1280px) {
    header {
        padding: 14px 2%;
        transition: .2;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 23vh;
        background: var(--header-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 20px;
        transition: all 0.50s ease;
    }
    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50 ease;
    }
    .navbar a:hover {
        color: var(--main-color);
    }
    .navbar a.active {
        color: var(--main-color);
    }
    .navbar .open {
        right: 2%;
    }
}

.navbar.menu-open {
    right: 2%;
}



/* .window-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.261);
    z-index: 5;
    display: none; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.window-container {
    position: relative;
    background-color: var(--header-color);
    width: 550px;
    height: auto;
    padding: 1.5rem;
    border-radius: 8px;
    animation-name: modal;
    animation-duration: .5s;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .4);
    z-index: 8;
}
@keyframes modal {
    from {
        transform: translateY(50vh);
    }
    to {
        transform: translateY(0);
    }
}
.close {
    transition: transform 1s cubic-bezier(0, -0.42, 1, -0.41);
    transform: translateY(60vh);
}
.close-button {
    position: absolute;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-close
 */





main {
    padding-top: 130px;
    text-align: center;
    color: black;
    background-color: #AAD3FF;
}
.video {
   width: 560px;
   height: 315px;
   margin: auto;
   box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.261);
   border-radius: 20px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 80px;
    height: 80px;
}
main h1 {
    font-weight: bold;
    padding-bottom: 30px;
    color: black;
}
main h2 {
    padding-top: 10px;
    font-weight: bold;
}
.sec1 {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}
.sec2 {
    padding: 15px 0;

}
.contact {
    border-top: 1px solid black;
   border-bottom: 1px solid black;
   background-color: white;
}
.contact img {
    width: 28%;
    margin: auto;
    height: 120px;
}
@media (max-width:768px) {
    .video {
        width: 100%;
        padding: 0 3px;
    }
    .se1 {
        width: 100%;
    }
    .contact img {
        width: 100%;
        background-color: white;
    }
    .fot-logo {
        height: 5%;
        width: 30%;
    }
    .contact {
        background-color: var(--header-color);
        border-bottom: 1px solid black;
     }
     .contact img {
         width: 28%;
         margin: auto;
         height: 120px;
     }
}
.exp {
    font-weight: bolder;
    padding-bottom: 10px;
}
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #202660;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fot-logo {
    height: 5%;
    margin-bottom: 1rem;
    width: 15%;
}
